.nav-bar {
    height: 3rem;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 1px #B4B4B4;
    position: fixed;
    top: 0;
    z-index: 1;
}
.name-brand {
    font-family: Bangla MN;
    align-content: center;
    display: inline-block;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    height: 100%;
    align-items: center;
    align-content: right;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}
