.tag-filter {
    width: 100%;
    text-align: center;
}

.tag-filter ul {
    padding-left: 0px;
}

.tag-filter li {
    display: inline-block;
    margin: 0px 2px 0px 2px;
}

.li-div {
    display: inline;
}

.cover {
    width: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-flex;
    margin: 25px;

}

.cover-img {
    border-radius: 5px;
}

.cover-inside {
    padding: 1px;
}

.center {
    text-align: center;
}

.center a {

    color: #37484F;
    text-decoration: none;
}